
   .results-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    direction: rtl; /* Adjusting text direction for Hebrew */

  }
  
  .results-comparison {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .menu-results {
    width: 48%;
    margin-bottom: 20px;
  }
  
  .dish-results {
    background-color: hsl(30, 20%, 95%);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    align-items: center;
  }
  
  .dish-results img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-left: 20px;
  }
  
  .description {
    flex: 1;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  .votes-high {
    background-color: #c4feb1; /* Light green */  
  }
  
  .votes-medium {
    background-color: #fbdeb3; /* Light orange */
  }
  
  .votes-low {
    background-color: #ffc4c4; /* Light red */   
  }