<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /demo/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /demo/index.html [L]
</IfModule>
